# Dependências e logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporários e backups
*.tmp
*.bak
*.swp
